<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
         Binding
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="nombre">Dime tu nombre</label>
            <input type="text"
              class="form-control" name="nombre" id="nombre"
              [(ngModel)]="sName">
          </div>
          <div class="form-group">
            <button type="button" 
              (click)="btnBorrar()"
              class="btn btn-primary">Borrar</button>
          </div>
        </div>
        <div class="card-footer text-muted">
         Hola {{sName}}
        </div>
      </div>
    </div>
  </div>
</div>
