<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Expresiones
        </div>
        <div class="card-body">
          <p>Existe sName y nValor </p> 
        </div>
        <div class="card-footer text-muted">
          <p>El nombre es {{sName.toUpperCase()}}</p>
          <p>El valor * 8 es {{nValor*8}}</p>
          <p>{{nValor<18 ? "Eres aun pequeño":"Que mayor eres" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>