<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <header class="row jumbotron">
    <div class="col-10">
        <h1>Bienvenido a {{title}}!</h1>
   </div>  
   <div class="col-2"> 
        <img class="img-fluid" src="../assets/angular.logo.svg">
    </div>
  </header>
  <article class="row">
    <div class="col">
      <h2>Here are some links to help you start: </h2>
      <ul>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
        </li>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
        </li>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
        </li>
      </ul>      
    </div>
  </article>
  <footer class="row">
    <div class="col">
      <p>{{autor}} - {{fecha}}</p>
    </div>
  </footer>
</div>



